<footer class="global-footer">
  <nav>
    <h4>HITORIsについて</h4>

    <div class="footercontents">
      <li>お知らせ</li>
      <li>よくある質問</li>
    </div>
  </nav>
  <p class="copyright">Copyright©Silvermedals-2016</p>
</footer>