.edit-user-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.edit-user-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.edit-user-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.edit-user-form-1 .form-control:-moz-placeholder,
.edit-user-form-1 .form-control::-moz-placeholder,
.edit-user-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.edit-user-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.edit-user-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.edit-user-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.edit-user-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.edit-user-form-1 .login-button.clicked {
    color: #555555;
}
.edit-user-form-1 .login-button.clicked:hover {
    transform: none;
}
.edit-user-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.edit-user-form-1 .login-button.clicked.error {
    color: #e74c3c;
}

.links-block {
    margin: 10px;
}

.profile-img {
    margin: 10px auto;
}