// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-talks {
  background-color: #f7f3e8;
  padding: 10px 0;
  min-height: 650px;
}
.card-talk {
  border-top: 1px solid #eae8e3;
  border-bottom: 1px solid #eae8e3;
  margin: 10px;
  height: 100px;
  position: relative;
}
.img-block {
  position: relative;
  width: 100px;
  float: left;
}
.card-img {

}
.content-block {
  padding: 5px 8px;
  overflow: hidden;
  background: #ffffff;
  height: 100px;
}
.card-title {
  font-size: 16px;
  float: none;
  padding: 0 0 3px 0;
  margin: 3px 30px 0 0;
  color: #889b00;
  min-height: 40px;
  line-height: 1.4;
}
.card-name {
  color: #4c4a40;
  font-size: 12px;
  line-height: 1.4em;
}
.card-nearest-station {
  color: #4c4a40;
  font-size: 12px;
  line-height: 1.4em;
}
.card-datetime {
  color: #4c4a40;
  font-size: 12px;
  line-height: 1.4em;
}
.card-user-edit {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}
.link-user-edit {
  width: 100%;
  height: 100%;
}
.click-link-hidden {
  display: none;
}
.click-link-display {
  display: block;
}
.click-link {
  /* border: 1px solid #000; */
  position: absolute;
  background-color: #ffffff;
  top: 15px;
  left: -338px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  min-width: 360px;
}
.link-block {
  margin: 0;
  padding: 0 10px;
}
.link-text {
  color: #000000;
  display: block;
  line-height: 2.2;
}

// detail-page
.talk-details {

}
.talk-details > p {
  margin: 0;
}
.talk-details-name {

}
.talk-details-datetime {

}
.talk-details-datetime {

}
.talk-details-title-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(123, 119, 105, 0), rgba(123, 119, 105, 0.4));
  text-align: left;
}
.talk-details-title {
  font-weight: bold;
  padding: 15px 10px;
  color:  #889b00;
  line-height: 1.2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.talk-details-wrap {
  font-size: 14px;
  padding: 10px;
}
.talk-details-details {

}
.talk-details-img-block {
  min-height: 240px;
  text-align: center;
  position: relative;
}
.talk-details-img {
  width: 100%;
  max-width: 640px;
}
.talk-room-btn {
  margin-top: 10px;
}
.chat-room {
  color: #ffffff;
}

.talks-wrap {
  background-color: #f7f3e8;
}

.nothing-talk {
  text-align: center;
}